@charset 'utf-8';

.modal-dialog {
  margin-bottom: 5vh;
}

.modal-header {
  margin-bottom: ($spacer * 2);
  flex-shrink: 0;
}

.modal-content {
  max-height: 85vh;
}

.modal-title {
  font-weight: $font-weight-normal;
}

.modal-body {
  overflow-y: auto;
}

.modal-footer {
  flex-shrink: 0;
}

.modal-full {
  .modal-content {
    height: 85vh;
  }
}


// We sometimes need to have a modal look but it's not really a modal
.modal.force-show {
  display: block;
}
