<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  Launch demo modal
</button>
<div class="modal fade" id="exampleModalLong">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-primary">
      <div class="modal-header justify-content-center">
        <h4 class="modal-title text-center">Choisissez un ou plusieurs thèmes qui correspondent à vos intérêts!</h4>
      </div>
      <div class="modal-body">
        {% include "@molecules/checkbox/checkbox.twig" %}
        {% include "@molecules/checkbox/checkbox.twig" %}
        {% include "@molecules/checkbox/checkbox.twig" %}
        {% include "@molecules/checkbox/checkbox.twig" %}
        {% include "@molecules/checkbox/checkbox.twig" %}
        {% include "@molecules/checkbox/checkbox.twig" %}
        {% include "@molecules/checkbox/checkbox.twig" %}
        {% include "@molecules/checkbox/checkbox.twig" %}
        {% include "@molecules/checkbox/checkbox.twig" %}
        {% include "@molecules/checkbox/checkbox.twig" %}
        {% include "@molecules/checkbox/checkbox.twig" %}
        {% include "@molecules/checkbox/checkbox.twig" %}
        {% include "@molecules/checkbox/checkbox.twig" %}
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-icon btn-outline-primary btn-outline-invert" data-dismiss="modal">
          {% include "@atoms/icon/icon.twig" with {icon: 'check', circle: true} %}
          Valider la séléction
        </button>
      </div>
    </div>
  </div>
</div>
