{% macro icon(icon, icon_circle, icon_baseline) %}
{% spaceless %}
<span class="icon{{ icon_baseline|default(false) ? ' icon-baseline' }}{{ icon_circle|default(false) ? ' icon-circle' }}" aria-hidden="true">
  <svg>
    <use xlink:href="#icon-{{ icon|default('calendar') }}"></use>
  </svg>
</span>
{% endspaceless %}
{% endmacro %}
