parameters:
  reportUnmatchedIgnoredErrors: false

  # Ignore tests
  excludePaths:
    - *Test.php
    - *TestBase.php
    - web/themes/custom/vernier/node_modules/*
  # PHPStan Level 1
  level: 1
  ignoreErrors:
    - '#Unsafe usage of new static#'
    - '#\Drupal calls should be avoided in classes, use dependency injection instead#'
