{% extends "@quartiers_solidaires/modals/modal.html.twig" %}

{% set modal_bg = attributes.theme ?? 'secondary' %}
{% set modal_title_sm = attributes.title|raw %}
{% set modal_title_icon = attributes.icon %}
{% set modal_subtitle = attributes.description %}
{% set floating_buttons = element['#floating_buttons'] %}

{% block modal_content %}
  <form{{ attributes }}>
    {{ children }}
  </form>
{% endblock %}

