{% extends "@quartiers_solidaires/wrapper/fullpage.html.twig" %}

{% import '@quartiers_solidaires/macros.html.twig' as macros %}

{% block fullpage_back_buttons %}
  {% if element['#top_links'] %}
    {% for path, link in element['#top_links'] %}
      {% set btn_classes = 'mb-2 btn-outline-secondary btn-outline-invert' %}
      {% set url = link.params ? path(path, link.params) : path(path) %}
      {{ macros.back_button(link.label, url, btn_classes, link.icon) }}
    {% endfor %}
  {% endif %}
{% endblock %}


{% block fullpage_content %}
  {% set classes = [
    'form',
    element['#validated'] ? 'was-validated',
  ] %}

  {% if element['#title'] %}
    <h1 class="mb-5">{{ element['#title'] }}</h1>
  {% endif %}

  <form{{ attributes.addClass(classes) }}>
    {{ children }}
  </form>
{% endblock %}


