{% set classes = [
  'd-flex',
  'flex-column',
  'flex-grow',
  'justify-content-center',
] %}
<form{{ attributes.addClass(classes) }}>
  {% embed '@quartiers_solidaires/modals/modal.html.twig' with {
    modal_title_sm: attributes.title|raw,
    modal_title_icon: attributes.icon,
    modal_subtitle: attributes.description,
  } %}

  {% endembed %}

  {{ children }}
</form>
