{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
<div class="form-group">
  <label class="form-control-label">{{ attributes.title }}</label>
  <div{{ attributes.addClass('btn-group d-block').setAttribute('role', 'group').setAttribute('aria-label', element['#title']) }}>
    {{ children }}
  </div>
</div>
