{% import "@quartiers_solidaires/macros.html.twig" as macros %}

<div class="bg-secondary">
  <div class="fullpage-wrapper py-4">

    <div class="container text-center mt-5 mb-5">
      {{ macros.icon('check-lg', ['icon-xl']) }}
    </div>

    <div class="container mt-5 mb-auto text-center">
      {{ bamboo_render_entity('block', 'quartiers_solidaires_messages') }}
      <p class="lead">{% trans %}qs.auth.cancel.confirmation.thanks{% endtrans %}</p>
      <p class="lead">{% trans %}qs.auth.cancel.confirmation.description{% endtrans %}</p>
    </div>
  </div>
</div>
