{% import "@quartiers_solidaires/macros.html.twig" as macros %}

<div class="bg-primary">
  <div class="fullpage-wrapper py-4">

    <div class="container text-center mt-5 mb-5">
      {{ macros.icon('wait-lg') }}
    </div>

    <div class="container mt-5 mb-auto text-center">
      <p class="lead">{% trans %}qs.auth.approval.thanks{% endtrans %}</p>
      <p class="lead">{% trans %}qs.auth.approval.description{% endtrans %}</p>
    </div>

    <div class="container text-center">
      {{ macros.icon('wait') }}
      <p class="mt-3">{% trans %}qs.auth.approval.description{% endtrans %}</p>
    </div>

  </div>
</div>
