{% import "@quartiers_solidaires/macros.html.twig" as macros %}
{% set currentTheme = null %}

{# Block with current search filters #}
<div class="container">
  <h1 class="text-center mt-5">
    {%- set count = variables.themes|length -%}
    {%- set themes_names = variables.themes|join(', ')|trim -%}
    {%- set community_name = variables.community.name.value|trim -%}

    {% if count >= 1 %}
      {%- trans -%}qs.activity.theme.filters {{ community_name }} {{ themes_names }}.
      {%- endtrans -%}
    {% else %}
      {%- trans -%}qs.activity.theme.filters {{ community_name }}.{%- endtrans -%}
    {% endif %}
  </h1>
</div>

{% if variables.activities %}
  <div class="container my-5">
    <div class="row">
      {% for activity in variables.activities %}
       {% set event = variables.events[activity.nid.value] %}

       {# Print the theme header if we are on the next one #}
       {% if (activity.field_theme.target_id != currentTheme) %}
        {% set currentTheme = activity.field_theme.target_id %}
        {% if loop.index > 1 %}
          </div>
          <div class="row">
        {% endif %}
          <div class="col-12 sticky-top bg-white mb-2">
            {{ bamboo_render_entity('taxonomy_term', activity.field_theme.target_id, 'teaser') }}
          </div>
       {% endif %}

        <div class="col-sm-6 col-lg-4 d-flex">
          {% include "@quartiers_solidaires/node/node--activity--teaser.html.twig" with {node: activity, event: event} %}
        </div>

      {% endfor %}
    </div>
  </div>
{% endif %}
