
<ul>
  <li><a href="{{ path('qs_activity.activities.form.edit.info', {'activity': variables.activity.id}) }}">edit info</a></li>
  <li><a href="{{ path('qs_activity.activities.form.edit.visibility', {'activity': variables.activity.id}) }}">edit visiblity</a></li>
  <li><a href="{{ path('qs_activity.activities.form.edit.defaults', {'activity': variables.activity.id}) }}">edit default values</a></li>
</ul>
