@charset 'utf-8';

.list-items {
  @include list-unstyled();
}

.list-item {
  display: flex;
  align-items: center;
  margin-bottom: $spacer;
  background-image: linear-gradient(to right, rgba($brand-secondary, 0) 5%, rgba($brand-secondary, 0.08) 50%);
  border-radius: $btn-border-radius;

  @include icon-size(30px);
  @include transition(transform 0.2s ease);

  @include hover-focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    transform: scale(0.98);
    background-image: linear-gradient(to right, rgba($brand-secondary, 0.02) 5%, rgba($brand-secondary, 0.3) 70%);
  }

  .btn:first-of-type {
    border: 0;
  }
}

.list-item-icon {
  margin-right: $spacer;
}

.list-item-title {
  margin-right: auto;
  font-size: $font-size-lg;
}

.list-item-inside {
  color: $body-color;
  margin-right: $spacer * 3;
  white-space: nowrap;
}
