<ul class="list-items">
  <li>
    <a href="#" class="list-item">
      {% include "@atoms/icon/icon.twig" with {icon: 'themes'} %}
      <span class="list-item-title">Cours d’anglais</span>
      <span class="list-item-date">27 juillet 2017</span>
      <span class="btn btn-outline-secondary btn-circle shadow-to-left btn-white" title="Voir les détails">
        {% include "@atoms/icon/icon.twig" with {icon: 'look'} %}
        <span class="sr-only">Voir les détails</span>
      </span>
    </a>
  </li>
</ul>
