<div class="row flex-row mb-4">
{% for photo in variables.photos %}
  <div class="col-6 col-sm-4 col-md-3">
    <figure class="gallery-item">
      <img class="card-img" src="{{ path('qs_photo.streamer', {'photo': photo.nid.value, 'image_style': 'qs_thumbnail'}) }}" alt="{{ photo.title.value }}" title="{{ photo.title.value }}">
    </figure>
  </div>
{% endfor %}
</div>
