{# Subscription Textual Badges #}
{% if event.nid.value and badges.subscriptions %}
  {% set show_user_subscription = TRUE %}

  {% if badges.privileges %}
    {# Get user Highest privilege #}
    {% set privilege = badges.privileges[event.field_activity.entity.nid.value]|last %}

    {# If user is activity_maintainers or activity_organizers of this event #}
    {# show him guests badges, otherwise show him badges based on his own subscription #}
    {% if privilege == 'activity_maintainers' or privilege == 'activity_organizers' %}
      {# Pending Guests subscriptions Badge #}
      {% if event.nid.value in badges.subscriptions.pendings_guests|keys %}
        {% set attendes =  badges.subscriptions.pendings_guests[event.nid.value] %}
        <p>{{ 'qs.event.user.subscription.pendings_guests @count'|t({'@count': attendes}) }}</p>
        {% set show_user_subscription = FALSE %}

      {# Confirmed Guests subscriptions Badge #}
      {% elseif event.nid.value in badges.subscriptions.confirmed_guests|keys %}
        {% set attendes = badges.subscriptions.confirmed_guests[event.nid.value] %}
        <p>{{ 'qs.event.user.subscription.confirmed_guests @count'|t({'@count': attendes}) }}</p>
        {% set show_user_subscription = FALSE %}
      {% endif %}
    {% endif %}
  {% endif %}

  {% if show_user_subscription %}
    <p class="text-info">
      <strong>
        {% if event.nid.value in badges.subscriptions.pendings|keys %}
          {{ 'qs.event.user.subscription.pending'|t }}
        {% endif %}

        {% if event.nid.value in badges.subscriptions.confirmed|keys %}
          {{ 'qs.event.user.subscription.confirmed'|t }}
        {% endif %}
      </strong>
    </p>
  {% endif %}
{% endif %}
