<div class="modal-open modal-full">

  {{ page.header }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>
    {% block content %}{{ page.content }}{% endblock %}
  </main>

  <div class="modal-backdrop show"></div>
</div>
