<div class="d-flex flex-column justify-content-between">
  <main class="fullpage-wrapper" role="main">
    {% block header %}
      {{ page.header }}
    {% endblock %}

    {% if page.messages %}
      <div class="container">
        {{ page.messages }}
      </div>
    {% endif %}

    <a id="main-content" tabindex="-1"></a>
    {% block content %}{{ page.content }}{% endblock %}
  </main>
</div>
