{{ page.header }}

{% block header %}{% endblock %}

{% if page.messages %}
  <div id="wrapper-status-messages" class="container">
    {{ page.messages }}
  </div>
{% endif %}

<main role="main">
  <a id="main-content" tabindex="-1"></a>
  {% block content %}{{ page.content }}{% endblock %}
</main>

{% if page.footer %}
  <footer role="contentinfo">
    {{ page.footer }}
  </footer>
{% endif %}
