{% extends "@quartiers_solidaires/wrapper/modal.html.twig" %}

{% import "@quartiers_solidaires/macros.html.twig" as macros %}

{% set community_name = variables.community.name.value|trim %}
{% set modal_title = 'qs_sharing.collection.request.title @community'|t({'@community': community_name}) %}
{% set modal_bg = 'primary' %}

{% set floating_buttons = [
  {
    label: 'qs_sharing.floating.requests'|t,
    icon: 'wait',
    active: true,
  }
] %}

{% block modal_content %}
  {% if variables.requests %}

    <ul class="card-list card-list-request mb-auto" id="requests-accordion" role="tablist" data-children=".card-list-item">
      {% embed '@quartiers_solidaires/node/partials/card-list.html.twig' with {card_list_id: 'requests-accordion'} %}
        {% block card_list_items %}
          {% for key, request in variables.requests %}
            {% set is_solved = request.moderation_state.value == 'solved' %}
            {% set contact_phone = request.field_contact_phone.value %}
            {% set contact_mail = request.field_contact_mail.value %}

            {% set body = {
              '#type':   'processed_text',
              '#text':    request.body.value,
              '#format':  request.body.format,
            } %}

            {% include "@quartiers_solidaires/node/card-list-item-request.html.twig" %}

          {% endfor %}
        {% endblock %}
      {% endembed %}
    </ul>

  {% else %}
    <div class="text-center mb-auto">
      <p>
        {{ 'qs_sharing.collection.request.empty'|t }}
      </p>
    </div>
  {% endif %}
{% endblock %}
