{% import "@quartiers_solidaires/macros.html.twig" as macros %}

{% extends "@quartiers_solidaires/pages/page.html.twig" %}

{% block content %}
<div class="d-flex flex-column justify-content-between">
  <div class="fullpage-wrapper">
    <div class="container mt-5">
      <div class="row align-items-center mb-auto">
        <div class="col-6 col-md-3 mx-auto">
          <img class="img-fluid" src="/{{ directory }}/build/svg/reseaux-solidaires.svg" alt="Réseaux Solidaires">
        </div>
      </div>
    </div>
    <div class="container my-auto">
      <div class="row">
        <div class="col-6 mx-auto text-center text-white">
          <h1 class="h2 font-weight-bold">{{ title }}</h1>
          <p>{{ page.content }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
