<li class="card card-list-item">
  {% include "@quartiers_solidaires/node/partials/card-pill.html.twig" %}
  <div class="collapse" id="collapse-{{ key }}" role="tabpanel">
    {% include "@quartiers_solidaires/node/partials/card-body.html.twig" %}
  </div>
</li>
