{% extends "@quartiers_solidaires/node/node.html.twig" %}
{% import "@quartiers_solidaires/macros.html.twig" as macros %}

{% block node_body %}
  <div class="container">
    {{ bamboo_render_block('qs_sharing_offers_collection_block') }}
  </div>
{% endblock %}

