@charset 'utf-8';

.flag {
  svg {
    fill: $green-lightest;
  }

  @include flag-size(40px);
}

.flag-glow {
  filter: drop-shadow(0 0 5px currentColor);
}

.flag-blue {
  svg {
    fill: theme-color("dark");
  }

  .flag-glow {
    filter: drop-shadow(0 0 5px $blue);
  }
}
