@charset 'utf-8';

.flag {
  svg {
    fill: color("secondary-lightest");
  }

  @include flag-size(40px);
}

.flag-glow {
  @if $enable-shadows {
    filter: drop-shadow(0 0 5px currentColor);
  }
}

.flag-blue {
  svg {
    fill: color("dark");
  }

  .flag-glow {
    @if $enable-shadows {
      filter: drop-shadow(0 0 5px $blue);
    }
  }
}
