<div class="flag" title="Inscription confirmée">
  <svg class="flag-glow" preserveAspectRatio="xMidYMid">
    <use xlink:href="#icon-flag"></use>
    <use xlink:href="#icon-{{ icon|default('wait') }}"></use>
  </svg>
</div>
