<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
    <style type="text/css">
      @font-face {
        font-family: 'opensans';
        src: url('web/themes/quartiers_solidaires/build/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
      }

      @font-face {
        font-family: 'opensans';
        src: url('web/themes/quartiers_solidaires/build/fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
      }

      @font-face {
        font-family: 'opensans';
        src: url('web/themes/quartiers_solidaires/build/fonts/Open_Sans/OpenSans-BoldItalic.ttf') format('truetype');
        font-weight: bold;
        font-style: italic;
      }

      body {
        font-family: 'opensans', sans-serif;
      }
      header {
        position: fixed;
        top: -30px;
        left: 0;
        right: 0;
        color: black;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
      }

      main {
        margin: 0 15px;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.03em;
        color: black;
      }

      h1 {
        font-style: italic;
        font-weight: bold;
        font-size: 32px;
        line-height: 44px;
        color: #781EBE;
        margin: 37px 0 0 0;
      }

      h2 {
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;
        color: #781EBE;
        margin: 50px 0 18px 0;
      }

      p {
        margin: 0;
      }

      table {
        width: 100%;
        border-collapse: collapse;
      }

      td, th {
        padding: 5px;
        vertical-align: top;
        text-align: center;
        border-left: 1px solid #5AA0FA;
        border-right: 1px solid #5AA0FA;
      }

      th {
        background: #5AA0FA;
        color: white;
        font-weight: normal;
      }

      td {
        font-size: 10px;
        line-height: 11px;
      }

      tr:nth-child(odd) {
        background-color: rgba(90, 160, 250, 0.2);
      }

      .description {
        max-width: 550px;
        margin: 37px auto 0 auto;
      }
    </style>
  </head>
  <body>
    <header>
      Communauté de {{ variables.community }}
    </header>
    <main>
      <h1>Offres de bénévolat</h1>
      <p>Mis à jour le {{ variables.update }}</p>

      <p class="description">N’hésitez pas à contacter les personnes ci-dessous pour demander un coup d’main ou simplement échanger un moment convivial.</p>

      <h2>Papoter ensemble</h2>

      <table>
        <tr>
          <th>Bénévole</th>
          <th>Offre</th>
          <th>Disponibilité</th>
          <th>Contact</th>
        </tr>
        <tr>
          <td>Romain Collaud</td>
          <td>Je parle volontiers de tous les sujets. J’aime particulièrement l’art et le design, et me passionne pour la cuisine et le hockey sur glace.</td>
          <td>Disponible tous les jours de la semaine, l’après-midi</td>
          <td>079 793 78 90<br>romain.collaud@epfl.ch</td>
        </tr>
        <tr>
          <td>Romain Collaud</td>
          <td>Je parle volontiers de tous les sujets. J’aime particulièrement l’art et le design, et me passionne pour la cuisine et le hockey sur glace.</td>
          <td>Disponible tous les jours de la semaine, l’après-midi</td>
          <td>079 793 78 90<br>romain.collaud@epfl.ch</td>
        </tr>
        <tr>
          <td>Romain Collaud</td>
          <td>Je parle volontiers de tous les sujets. J’aime particulièrement l’art et le design, et me passionne pour la cuisine et le hockey sur glace.</td>
          <td>Disponible tous les jours de la semaine, l’après-midi</td>
          <td>079 793 78 90<br>romain.collaud@epfl.ch</td>
        </tr>
        <tr>
          <td>Romain Collaud</td>
          <td>Je parle volontiers de tous les sujets. J’aime particulièrement l’art et le design, et me passionne pour la cuisine et le hockey sur glace.</td>
          <td>Disponible tous les jours de la semaine, l’après-midi</td>
          <td>079 793 78 90<br>romain.collaud@epfl.ch</td>
        </tr>
        <tr>
          <td>Romain Collaud</td>
          <td>Je parle volontiers de tous les sujets. J’aime particulièrement l’art et le design, et me passionne pour la cuisine et le hockey sur glace.</td>
          <td>Disponible tous les jours de la semaine, l’après-midi</td>
          <td>079 793 78 90<br>romain.collaud@epfl.ch</td>
        </tr>
        <tr>
          <td>Romain Collaud</td>
          <td>Je parle volontiers de tous les sujets. J’aime particulièrement l’art et le design, et me passionne pour la cuisine et le hockey sur glace.</td>
          <td>Disponible tous les jours de la semaine, l’après-midi</td>
          <td>079 793 78 90<br>romain.collaud@epfl.ch</td>
        </tr>
      </table>

      <h2>Faire les courses</h2>

      <table>
        <tr>
          <th>Bénévole</th>
          <th>Offre</th>
          <th>Disponibilité</th>
          <th>Contact</th>
        </tr>
        <tr>
          <td>Romain Collaud</td>
          <td>Je parle volontiers de tous les sujets. J’aime particulièrement l’art et le design, et me passionne pour la cuisine et le hockey sur glace.</td>
          <td>Disponible tous les jours de la semaine, l’après-midi</td>
          <td>079 793 78 90<br>romain.collaud@epfl.ch</td>
        </tr>
        <tr>
          <td>Romain Collaud</td>
          <td>Je parle volontiers de tous les sujets. J’aime particulièrement l’art et le design, et me passionne pour la cuisine et le hockey sur glace.</td>
          <td>Disponible tous les jours de la semaine, l’après-midi</td>
          <td>079 793 78 90<br>romain.collaud@epfl.ch</td>
        </tr>
        <tr>
          <td>Romain Collaud</td>
          <td>Je parle volontiers de tous les sujets. J’aime particulièrement l’art et le design, et me passionne pour la cuisine et le hockey sur glace.</td>
          <td>Disponible tous les jours de la semaine, l’après-midi</td>
          <td>079 793 78 90<br>romain.collaud@epfl.ch</td>
        </tr>
        <tr>
          <td>Romain Collaud</td>
          <td>Je parle volontiers de tous les sujets. J’aime particulièrement l’art et le design, et me passionne pour la cuisine et le hockey sur glace.</td>
          <td>Disponible tous les jours de la semaine, l’après-midi</td>
          <td>079 793 78 90<br>romain.collaud@epfl.ch</td>
        </tr>
        <tr>
          <td>Romain Collaud</td>
          <td>Je parle volontiers de tous les sujets. J’aime particulièrement l’art et le design, et me passionne pour la cuisine et le hockey sur glace.</td>
          <td>Disponible tous les jours de la semaine, l’après-midi</td>
          <td>079 793 78 90<br>romain.collaud@epfl.ch</td>
        </tr>
        <tr>
          <td>Romain Collaud</td>
          <td>Je parle volontiers de tous les sujets. J’aime particulièrement l’art et le design, et me passionne pour la cuisine et le hockey sur glace.</td>
          <td>Disponible tous les jours de la semaine, l’après-midi</td>
          <td>079 793 78 90<br>romain.collaud@epfl.ch</td>
        </tr>
      </table>

      <h2>Faire les courses</h2>

      <table>
        <tr>
          <th>Bénévole</th>
          <th>Offre</th>
          <th>Disponibilité</th>
          <th>Contact</th>
        </tr>
        <tr>
          <td>Romain Collaud</td>
          <td>Je parle volontiers de tous les sujets. J’aime particulièrement l’art et le design, et me passionne pour la cuisine et le hockey sur glace.</td>
          <td>Disponible tous les jours de la semaine, l’après-midi</td>
          <td>079 793 78 90<br>romain.collaud@epfl.ch</td>
        </tr>
        <tr>
          <td>Romain Collaud</td>
          <td>Je parle volontiers de tous les sujets. J’aime particulièrement l’art et le design, et me passionne pour la cuisine et le hockey sur glace.</td>
          <td>Disponible tous les jours de la semaine, l’après-midi</td>
          <td>079 793 78 90<br>romain.collaud@epfl.ch</td>
        </tr>
        <tr>
          <td>Romain Collaud</td>
          <td>Je parle volontiers de tous les sujets. J’aime particulièrement l’art et le design, et me passionne pour la cuisine et le hockey sur glace.</td>
          <td>Disponible tous les jours de la semaine, l’après-midi</td>
          <td>079 793 78 90<br>romain.collaud@epfl.ch</td>
        </tr>
        <tr>
          <td>Romain Collaud</td>
          <td>Je parle volontiers de tous les sujets. J’aime particulièrement l’art et le design, et me passionne pour la cuisine et le hockey sur glace.</td>
          <td>Disponible tous les jours de la semaine, l’après-midi</td>
          <td>079 793 78 90<br>romain.collaud@epfl.ch</td>
        </tr>
        <tr>
          <td>Romain Collaud</td>
          <td>Je parle volontiers de tous les sujets. J’aime particulièrement l’art et le design, et me passionne pour la cuisine et le hockey sur glace.</td>
          <td>Disponible tous les jours de la semaine, l’après-midi</td>
          <td>079 793 78 90<br>romain.collaud@epfl.ch</td>
        </tr>
        <tr>
          <td>Romain Collaud</td>
          <td>Je parle volontiers de tous les sujets. J’aime particulièrement l’art et le design, et me passionne pour la cuisine et le hockey sur glace.</td>
          <td>Disponible tous les jours de la semaine, l’après-midi</td>
          <td>079 793 78 90<br>romain.collaud@epfl.ch</td>
        </tr>
      </table>

      <h2>Faire les courses</h2>

      <table>
        <tr>
          <th>Bénévole</th>
          <th>Offre</th>
          <th>Disponibilité</th>
          <th>Contact</th>
        </tr>
        <tr>
          <td>Romain Collaud</td>
          <td>Je parle volontiers de tous les sujets. J’aime particulièrement l’art et le design, et me passionne pour la cuisine et le hockey sur glace.</td>
          <td>Disponible tous les jours de la semaine, l’après-midi</td>
          <td>079 793 78 90<br>romain.collaud@epfl.ch</td>
        </tr>
        <tr>
          <td>Romain Collaud</td>
          <td>Je parle volontiers de tous les sujets. J’aime particulièrement l’art et le design, et me passionne pour la cuisine et le hockey sur glace.</td>
          <td>Disponible tous les jours de la semaine, l’après-midi</td>
          <td>079 793 78 90<br>romain.collaud@epfl.ch</td>
        </tr>
        <tr>
          <td>Romain Collaud</td>
          <td>Je parle volontiers de tous les sujets. J’aime particulièrement l’art et le design, et me passionne pour la cuisine et le hockey sur glace.</td>
          <td>Disponible tous les jours de la semaine, l’après-midi</td>
          <td>079 793 78 90<br>romain.collaud@epfl.ch</td>
        </tr>
        <tr>
          <td>Romain Collaud</td>
          <td>Je parle volontiers de tous les sujets. J’aime particulièrement l’art et le design, et me passionne pour la cuisine et le hockey sur glace.</td>
          <td>Disponible tous les jours de la semaine, l’après-midi</td>
          <td>079 793 78 90<br>romain.collaud@epfl.ch</td>
        </tr>
        <tr>
          <td>Romain Collaud</td>
          <td>Je parle volontiers de tous les sujets. J’aime particulièrement l’art et le design, et me passionne pour la cuisine et le hockey sur glace.</td>
          <td>Disponible tous les jours de la semaine, l’après-midi</td>
          <td>079 793 78 90<br>romain.collaud@epfl.ch</td>
        </tr>
        <tr>
          <td>Romain Collaud</td>
          <td>Je parle volontiers de tous les sujets. J’aime particulièrement l’art et le design, et me passionne pour la cuisine et le hockey sur glace.</td>
          <td>Disponible tous les jours de la semaine, l’après-midi</td>
          <td>079 793 78 90<br>romain.collaud@epfl.ch</td>
        </tr>
      </table>
    </main>
  </body>
</html>
