{% import "@quartiers_solidaires/macros.html.twig" as macros %}

<div class="">
  <div class="onboarding-arrow-top" aria-hidden="true"></div>
  <div class="fullpage-wrapper fullpage-wrapper-menu text-center d-flex flex-column justify-content-center">
    <div class="col-md-10 col-lg-8 mx-auto">
      {{ 'qs.community.welcome.body'|t }}
    </div>
  </div>
  <div class="onboarding-arrow-bottom" aria-hidden="true"></div>
</div>
