
<ul>
  <li><a href="{{ path('qs_community.members', {community: variables.community.tid.value}) }}">{% trans %}qs_community.dashboard.members{% endtrans %}</a></li>
  <li><a href="{{ path('qs_community.waiting_approval', {community: variables.community.tid.value}) }}">{% trans %}qs_community.dashboard.waiting_approval{% endtrans %}</a></li>
</ul>

