<nav aria-label="Page navigation example" class="pagination-wrapper">
  <h2 class="sr-only">Pagination</h2>
  <div class="page-item mr-auto mb-3"><a class="btn btn-outline-secondary btn-icon btn-icon-right shadow-to-bottom" href="#">Previous</a></div>
  <ul class="pagination">
    <li class="page-item page-item-number active"><a class="btn btn-outline-secondary btn-circle shadow-to-bottom" href="#">1</a></li>
    <li class="page-item page-item-number"><a class="btn btn-outline-secondary btn-circle shadow-to-bottom" href="#">2</a></li>
    <li class="page-item page-item-number"><a class="btn btn-outline-secondary btn-circle shadow-to-bottom" href="#">3</a></li>
    <li class="page-item page-item-number"><span class="d-block">...</span></li>
  </ul>
  <div class="page-item ml-auto mb-3"><a class="btn btn-outline-secondary btn-icon btn-icon-right shadow-to-bottom" href="#">Next</a></div>
</nav>
