@charset "utf-8";

// Handle shadows on elements, with brand-primary color
.shadow-to-right {
  @include drop-shadow(bottom);

  @include media-breakpoint-up(md) {
    @include drop-shadow(right);
  }
}

.shadow-to-left {
  @include drop-shadow(bottom);

  @include media-breakpoint-up(make-col-modifier) {
    @include drop-shadow(left);
  }
}

.shadow-to-bottom {
  @include drop-shadow(bottom);
}

.shadow-floating {
  @include floating-shadow();
}

// Background helpers
@include bg-variant('.bg-blue', $blue);
@include bg-variant('.bg-primary', color("primary"));
@include bg-variant('.bg-primary-light', color("primary-light"));

// Light colors on colored backgrounds
.bg-secondary,
.bg-blue,
.bg-primary,
.bg-danger {
  color: color("light");

  .text-muted {
    color: rgba(color("light"), 0.75) !important;
  }
}

.bg-gradient {
  background-image: linear-gradient(to top, $purple-400, #934bcb, $blue, #66d4ea, #5cdac2);
}

.fullpage-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Text helpers
@include text-emphasis-variant('.text-dark', color("dark"));
@include text-emphasis-variant('.text-gray', $gray-700);
