@charset "utf-8";

// Handle shadows on elements, with brand-primary color
.shadow-to-right {
  @include drop-shadow(bottom);

  @include media-breakpoint-up(md) {
    @include drop-shadow(right);
  }
}

.shadow-to-left {
  @include drop-shadow(bottom);

  @include media-breakpoint-up(make-col-modifier) {
    @include drop-shadow(left);
  }
}

.shadow-to-bottom {
  @include drop-shadow(bottom);
}

.shadow-to-bottom-secondary {
  @include drop-shadow(bottom, theme-color('secondary'));
}

.shadow-to-bottom-info {
  @include drop-shadow(bottom, theme-color('info'));
}

.shadow-floating {
  @include floating-shadow();
}

// Positionning
.over-modal {
  z-index: $zindex-modal - 5;
}

.z-index-modal {
  z-index: $zindex-modal;
}

// Background helpers
@include bg-variant('.bg-primary', color("primary"));
@include bg-variant('.bg-primary-light', color("primary-lighter"));

// Opacity helpers
.opacity-50 {
  opacity: 0.5;
}

// Light colors on colored backgrounds
.bg-secondary,
.bg-info,
.bg-primary,
.bg-danger {
  color: color("light");

  .text-muted {
    color: rgba(color("light"), 0.75) !important;
  }
}

.bg-gradient,
.maintenance-page {
  background: $purple-400 linear-gradient(to top, $purple-400, #934bcb, $blue, #66d4ea, #5cdac2);
}

.fullpage-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 80vh;

  @include media-breakpoint-up(md) {
    min-height: 100vh;
  }
}

.flex-grow {
  flex-grow: 1;
}

.sticky-bottom {
  @supports (position: sticky) {
    position: sticky !important;
    bottom: 0;
    z-index: $zindex-sticky;
    pointer-events: none;

    > * {
      pointer-events: auto;
    }
  }
}

@include ie11('.sticky-bottom') {
  position: relative;
}

@include ie11('.sticky-top') {
  position: relative;
}

// We need a small fix for some cases where the height of a content
// inside a flex wrapper is not calculated correctly.
.min-height-0 {
  min-height: 0;
}

.min-height-100 {
  min-height: 100%;
}

// override Bootstrap rounded class
.rounded {
  border-radius: $spacer !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

// Text helpers
@include text-emphasis-variant('.text-dark', color("dark"));
@include text-emphasis-variant('.text-gray', $gray-700);
@include text-emphasis-variant('.text-warning', color("warning"));

// Make sure the links inside .text-white are all white.
// We avoid adding the classes in string translations that way (homepage sponsors)
.text-white a {
  color: $white !important;

  @include hover-focus-active {
    color: $white !important;
  }
}

// Click helpers
.pointers-none {
  pointer-events: none;
}

// Responsive font-size

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .text#{$infix}-size-small      { font-size: $small-font-size; }
    .text#{$infix}-size-base    { font-size: $font-size-base; }
    .text#{$infix}-size-sm     { font-size: $font-size-sm; }
    .text#{$infix}-size-lg        { font-size: $font-size-lg; }
  }
}

.text-small {
  font-size: $font-size-sm;
}

.text-secondary-light {
  color: $teal-300;

  &:hover {
    color: $teal;
  }
}
