@charset "utf-8";

.ie11 {
  // Calendar
  .calendar {
    display: inline-block;
    width: 650px;

    & > *:nth-child(7n + 1) {
      clear: both;
    }
  }

  .calendar-head,
  .calendar-item {
    display: inline-flex;
    width: 3.125rem;
    height: 3.125rem;
    margin: 0 2% 1%;
    float: left;
  }

  // Photos section
  .img-grid {
    display: block;

    > * {
      float: left;
      width: 45%;
      margin-right: 5%;

      &:nth-child(2n+1) {
        margin-right: 5%;
      }
    }
  }
}
