@charset "utf-8";

// Shadow mixins
////////////////

// Handle drop shadows on elements
@mixin drop-shadows($color) {
  &.shadow-to-right {
    @include drop-shadow(bottom, $color);

    @include media-breakpoint-up(md) {
      @include drop-shadow(right, $color);
    }
  }

  &.shadow-to-left {
    @include drop-shadow(bottom, $color);

    @include media-breakpoint-up(md) {
      @include drop-shadow(left, $color);
    }
  }
}

// Adds a shadow to the element, to the direction you want
/* stylelint-disable at-rule-empty-line-before, block-closing-brace-newline-after */
@mixin drop-shadow($direction: right, $color: theme-color("primary")) {
  @if $enable-shadows {
    @if ($direction == right) {
      box-shadow: 2px 2px 2px 0 rgba($color, 0.3);
    } @else if ($direction == left) {
      box-shadow: -2px 2px 2px 0 rgba($color, 0.3);
    } @else {
      box-shadow: 0 2px 2px 0 rgba($color, 0.3);
    }
  }
}
/* stylelint-enable at-rule-empty-line-before, block-closing-brace-newline-after */

// Adds a floating shadow effect
@mixin floating-shadow($color: theme-color("primary")) {
  @if $enable-shadows {
    box-shadow: 0 0 10px 0 rgba($color, 0.6);
  }
}

// Button mixins
////////////////

// Button on :active only
@mixin button-active($color, $color-active: $white) {
  &:active,
  &.active {
    background-color: $color;
    border-color: $color;
    color: $color-active;
  }
}

// Set button-outline-invert color of text and background based on parent background
@mixin button-outline-invert($background-class, $color, $color-invert: $white) {
  #{$background-class} & {
    background-color: $color;

    @include hover {
      background-color: lighten($color, 5);
    }

    &:active,
    &.active,
    .show > &.dropdown-toggle {
      color: $color;
      background-color: $color-invert;
    }
  }
}

// Icons & Flags mixins
///////////////////////

// Sets the size of the icon
@mixin icon-size($size, $min-size: 0) {
  .icon,
  .icon svg {
    width: $size;
    height: $size;

    @if ($min-size > 0) {
      min-width: $min-size;
      min-height: $min-size;
    }
  }
}

// Sets the size of the flag icon
@mixin flag-size($size) {
  svg {
    width: $size;
    height: $size;
  }

  use:last-child {
    transform: scale(0.6);
    transform-origin: ($size / 2) ($size / 2.5);
  }
}
