@charset 'utf-8';

// Placeholders

// (hack with a mixin to include in media query)
@mixin btn-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  padding: $input-btn-padding-y / 2;
  line-height: 0;
}

// Button
/////////

.btn {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @include media-breakpoint-up(md) {
    min-width: 160px;
  }

  &:active {
    transform: scale(0.95);
    box-shadow: none;
  }
}

// Themed Buttons
/////////////////

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    color: $body-color;

    @include hover {
      color: $body-color;
      background-color: $white;

      @include floating-shadow(theme-color($color));
    }

    @include button-active(color("#{$color}-darker"));
  }

  @if ($color != 'primary') {
    .btn-#{$color},
    .btn-outline-#{$color} {

      // Handle shadows on elements
      @include drop-shadows(theme-color($color), true);

      &.shadow-floating {
        @include floating-shadow(theme-color($color), true);
      }

      // re-add focus styles from Bootstrap button mixin
      &:focus,
      &.focus {
        box-shadow: 0 0 0 $btn-focus-box-shadow-width rgba(theme-color($color), 0.5);
      }
    }
  }
}

// Button Icon
//////////////

// Also used for badges
%btn-icon {
  position: relative;
  padding-right: $input-btn-padding-x;
  padding-left: $input-btn-padding-x * 1.4;

  // icon is inheriting color from its parent,
  // please use `fill="currentColor"` in your svg file
  .icon {
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0 ($input-btn-padding-x / 3) 0 ($input-btn-padding-x / 5);
    transform: translateY(-50%);

    svg {
      @include transition($btn-transition);
    }
  }
}

.btn-icon {
  @extend %btn-icon;

  @each $color, $value in $theme-colors {
    &.btn-outline-#{$color} {
      .icon svg {
        color: theme-color($color);
      }
    }
  }

  &.btn-icon-to-circle {
    @include media-breakpoint-down(sm) {
      @include btn-circle;

      .icon {
        position: static;
        margin: 0;
        transform: none;

        svg {
          color: $body-color;
        }
      }
    }
  }

  &:active,
  &.active {
    .icon svg {
      color: $white;
    }
  }
}

.btn-icon-right {
  padding-right: $input-btn-padding-x * 1.4;
  padding-left: $input-btn-padding-x * 1.2;

  .icon {
    margin: 0 ($input-btn-padding-x / 5) 0 ($input-btn-padding-x / 3);
    left: auto;
    right: 0;
  }
}

// Button Circle
////////////////

.btn-circle {
  @include btn-circle;
  @include icon-size($font-size-base * 1.25);
}

// Button Invert
////////////////
// To put on a colored background, will be with a white border,
// white text and transparent background
.btn-outline-invert {
  color: $white;
  background-color: transparent;
  border-color: $white;

  @include hover {
    color: $white;
    background-color: rgba($white, 0.2);
  }

  &:focus,
  &.focus {
    color: $white;
    box-shadow: 0 0 0 $btn-focus-box-shadow-width rgba($white, 0.5);
  }

  &:active,
  &.active,
  .show > &.dropdown-toggle {
    color: $body-color;
    background-color: $white;
  }

  // Set color of text based on background when button is active
  @include button-outline-invert('.bg-blue', $blue);
}

// We still need a Button White when the background is lightly colored
// Can't use the .bg-white class because of the !important blocking
// us on hover and active states
.btn-white {
  background-color: $white;
}
