<button class="btn btn-outline-secondary btn-icon shadow-to-left">
  {% include "@atoms/icon/icon.twig" with {icon: ''} %}
  Button
</button>
<button class="btn btn-outline-secondary btn-icon btn-icon-right shadow-to-left">
  {% include "@atoms/icon/icon.twig" with {icon: ''} %}
  Button
</button>
