@charset 'utf-8';

// Placeholders

// (hack with a mixin to include in media query)
@mixin btn-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 42px;
  min-height: 42px;
  padding: $input-btn-padding-y / 2;
  line-height: 0;
}

// Also used for badges
%btn-icon {
  position: relative;
  padding-right: $input-btn-padding-x;
  padding-left: $input-btn-padding-x * 1.4;

  // icon is inheriting color from its parent,
  // please use `fill="currentColor"` in your svg file
  .icon {
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0 ($input-btn-padding-x / 3) 0 ($input-btn-padding-x / 5);
    transform: translateY(-50%);

    svg {
      @include transition($btn-transition);
    }
  }
}

// Button
/////////

.btn {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @include media-breakpoint-up(md) {
    min-width: 160px;
  }

  &:active {
    transform: scale(0.95);
    box-shadow: none;
  }
}

// Button Primary
/////////////////

.btn-outline-primary {
  color: $body-color;

  @include hover {
    color: $body-color;
    background-color: rgba(theme-color("primary"), 0.1);
  }

  @include button-active($btn-primary-active);
}

// Button Secondary
///////////////////

.btn-outline-secondary {
  color: $body-color;

  @include hover {
    color: $body-color;
    background-color: rgba(theme-color("secondary"), 0.1);
  }

  @include button-active($btn-secondary-active);
}

.btn-secondary,
.btn-outline-secondary {

  // Handle shadows on elements
  @include drop-shadows(theme-color("secondary"));

  &.shadow-floating {
    @include floating-shadow(theme-color("secondary"));
  }

  // re-add focus styles from Bootstrap button mixin
  &:focus,
  &.focus {
    box-shadow: 0 0 0 2px rgba(theme-color("secondary"), 0.5);
  }
}

// Override button-outline-* styles to be more UX friendly
// (don't invert colors on hover)
.btn-outline-info {
  @include hover {
    color: $body-color;
    background-color: rgba(theme-color("info"), 0.1);
  }
}

.btn-outline-success {
  @include hover {
    color: $body-color;
    background-color: rgba(theme-color("success"), 0.1);
  }
}

.btn-outline-warning {
  @include hover {
    color: $body-color;
    background-color: rgba(theme-color("warning"), 0.1);
  }
}

.btn-outline-danger {
  @include hover {
    color: $body-color;
    background-color: rgba(theme-color("danger"), 0.1);
  }
}

// Button Icon
//////////////

.btn-icon {
  @extend %btn-icon;

  &.btn-outline-primary {
    .icon svg {
      color: theme-color("primary");
    }
  }

  &.btn-outline-secondary {
    .icon svg {
      color: theme-color("secondary");
    }
  }

  &.btn-icon-to-circle {
    @include media-breakpoint-down(sm) {
      @include btn-circle;

      .icon {
        position: static;
        margin: 0;
        transform: none;

        svg {
          color: $body-color;
        }
      }
    }
  }

  &:active,
  &.active {
    .icon svg {
      color: $white;
    }
  }
}

.btn-icon-right {
  padding-right: $input-btn-padding-x * 1.4;
  padding-left: $input-btn-padding-x * 1.2;

  .icon {
    margin: 0 ($input-btn-padding-x / 5) 0 ($input-btn-padding-x / 3);
    left: auto;
    right: 0;
  }
}

// Button Circle
////////////////

.btn-circle {
  @include btn-circle;
  @include icon-size($font-size-base * 1.25);
}

// Button Invert
////////////////
// To put on a colored background, will be with a white border,
// white text and transparent background
.btn-outline-invert {
  color: $white;
  background-color: transparent;
  border-color: $white;

  @include hover {
    color: $white;
    background-color: rgba($white, 0.2);
  }

  &:focus,
  &.focus {
    color: $white;
    box-shadow: 0 0 0 2px rgba($white, 0.5);
  }

  &:active,
  &.active,
  .show > &.dropdown-toggle {
    color: $body-color;
    background-color: $white;
  }

  // Set color of text based on background when button is active
  @include button-outline-invert('.bg-blue', $blue);
}

// We still need a Button White when the background is lightly colored
.btn-white {
  background-color: $white;
}
