<div data-toggle="buttons">
  <label class="btn checkbox">
    {% include "@atoms/icon/icon.twig" with {icon: 'theme_cuisine_o'} %}
    <input type="checkbox" checked autocomplete="off"> Cuisine
  </label>
  <label class="btn checkbox">
    {% include "@atoms/icon/icon.twig" with {icon: 'theme_culture_o'} %}
    <input type="checkbox" autocomplete="off"> Culture
  </label>
</div>
