<div class="form-checkbox form-group js-form-item js-form-type-checkbox form-item-photos-506 js-form-item-photos-506 input-checkbox col-6 col-md-4 col-lg-3"
  data-required="">
  <div class="mb-3">

    <label class="checkbox-image card card-image" for="edit-photos-506">
      <input id="edit-photos-506" required="" title="Cliquez sur les photos pour les sélectionner" variant="image" class="form-checkbox custom-control-input" type="checkbox">
      <span class="checkbox-image-overlay"></span>
      <span class="icon " aria-hidden="true">
        <svg>
          <use xlink:href="#icon-check"></use>
        </svg>
      </span>
      <img class="card-img" src="//placehold.it/300x300" alt="alt text here">
      <span class="btn btn-primary btn-circle card-btn-corner text-white">
        {% include "@atoms/icon/icon.twig" with {icon: 'comment'} %}
      </span>
    </label>

  </div>
</div>
