<div class="form-group checkbox-toggle-container">
  <label for="checkbox-toggle">Montrer à la communauté</label>
  <input type="checkbox" id="checkbox-toggle" class="checkbox-toggle">
  <label for="checkbox-toggle" class="checkbox-toggle-btn"></label>
</div>
