{% import "@quartiers_solidaires/macros.html.twig" as macros %}
<a class="btn btn-icon btn-outline-secondary shadow-to-left" href="javascript:history.back()">
  {{ macros.icon('chevron-left') }}
  {% trans %}qs.previous{% endtrans %}
</a>
