{% if variables.url %}
  {% import "@quartiers_solidaires/macros.html.twig" as macros %}
  {% set btn_classes = [
    'btn btn-icon shadow-to-right over-modal',
    'btn-outline-' ~ variables.theme,
    variables.invert ? 'btn-outline-invert',
    'btn-icon-to-circle',
  ] %}
  <a class="{{ btn_classes|join(' ') }}" href="{{ variables.url }}">
    {{ macros.icon('chevron-left') }}
    <span class="d-none d-sm-inline">{{ variables.label }}</span>
  </a>
{% endif %}
