{% if variables.buttons is not empty and variables.buttons|first.url %}
  {% import "@quartiers_solidaires/macros.html.twig" as macros %}
  <div class="floating">
    <div class="container">
      <div class="d-flex flex-wrap justify-content-center">
        {% for button in variables.buttons if button.url %}
          {% set btn_classes = [
            'd-flex',
            'btn btn-white shadow-floating mb-3 mx-2',
            'btn-xs-grow',
            button.icon ? 'btn-icon',
            'btn-outline-' ~ button.theme,
          ] %}
          {% set btn_classes = btn_classes|merge(button.classes) %}
          <a
            class="{{ btn_classes|join(' ') }}"
            href="{{ button.url }}">
            {% if button.icon %}{{ macros.icon(button.icon) }}{% endif %}
            <span class="text-truncate">
              {{ button.label }}
            </span>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
