{% set event_date = event.field_start_at.value|date('Y-m-d') %}
{% set event_week = event.field_start_at.value|date('W') %}
{% set current_week = 'now'|date('W') %}

{% if 'now'|date('Y-m-d') == event_date %}
  {# TODAY #}
  {% set new_header = 'qs.activity.date.sticky.today'|t %}

{% elseif 'tomorrow'|date('Y-m-d') == event_date %}
  {# TOMORROW #}
  {% set new_header = 'qs.activity.date.sticky.tomorrow'|t %}

{% elseif event_date > 'tomorrow'|date('Y-m-d') and current_week == event_week %}
  {# THIS WEEK (between day after tomorrow and next Sunday but not next week) #}
  {% set new_header = 'qs.activity.date.sticky.this_week'|t %}

{% elseif event_week - previous_event_week >= 2 %}
  {% set previous_event_week = event.field_start_at.value|date('W') %}

  {% set new_header = 'qs.activity.date.sticky.from_to @start_date @end_date'|t({
    '@start_date': event.field_start_at.value|date_modify('monday this week')|bamboo_i18n_format_date('custom', 'j F Y'),
    '@end_date': event.field_start_at.value|date_modify('sunday this week + 1 week')|bamboo_i18n_format_date('custom', 'j F Y'),
  }) %}
{% endif %}

{# Write the header if we have a new value #}
{% if current_header|render != new_header|render %}
  {% set current_header = new_header %}
  {% set accordion_id = card_list_id ~ loop.index %}
  {% if loop.index > 1 %}
    </ul>
    <ul class="card-list" id="{{ accordion_id }}" data-children=".card-list-item">
  {% endif %}
  <li class="sticky-top bg-white mb-2 py-2 row">
    <h2 class="col-12 h5 mb-0">{{ current_header }}</h2>
  </li>
{% endif %}
