{% import "@quartiers_solidaires/macros.html.twig" as macros %}

<div class="card-body pb-0 text-center mx-auto">

  {% if offer.field_description.value %}
    <h4 class="text-size-base font-weight-bold card-title mb-3 mt-0 text-dark">
      {{ offer.field_description.value }}
    </h4>
  {% endif %}

  <div class="card-text rich-content rich-content-primary mb-3 text-dark">
    {{ body }}
  </div>

  <div class="card-actions row">
    {% if contact_phone %}
      {{ macros.card_button(
        contact_phone,
        "tel:#{contact_phone}",
        'phone',
        'left',
        '',
        'info'
      ) }}
    {% endif %}

    {% if contact_mail %}
      {{ macros.card_button(
        contact_mail,
        "mailto:#{contact_mail}",
        'mail',
        'left',
        '',
        'info'
      ) }}
    {% endif %}

  </div>

</div>
