@each $color, $value in $theme-colors {
  .quill-editor.ql-bubble.quill-editor-#{$color} .ql-picker.ql-header,
  .quill-editor.ql-bubble.quill-editor-#{$color} .ql-editor {
    .ql-picker-item[data-value="1"]:before,
    h1 {
      color: $value;
    }
  }
}

.quill-editor.ql-bubble .ql-picker.ql-header,
.quill-editor.ql-bubble .ql-editor {
  * {
    font-family: $font-family-base-webfonts;
  }

  .ql-picker-item[data-value="1"]:before,
  h1 {
    content: attr(data-h1-translation);
    font-size: $h4-font-size;
    font-weight: bold;

    @include media-breakpoint-down(xs) {
      font-size: $h4-font-size * 0.8;
    }
  }

  .ql-picker-item[data-value="2"]:before,
  h2 {
    content: attr(data-h2-translation);
    font-size: $h5-font-size;
    font-weight: normal;

    @include media-breakpoint-down(xs) {
      font-size: $h5-font-size * 0.8;
    }
  }

  .ql-picker-label[data-value="1"]:before {
    content: attr(data-h1-translation);
  }

  .ql-picker-label[data-value="2"]:before {
    content: attr(data-h2-translation);
  }
}
