<div class="d-flex flex-column justify-content-center flex-grow py-4">
  {% if block('fullpage_back_buttons') is not empty %}
    <div class="container">
      <div class="d-flex justify-content-between mb-3">
        {% block fullpage_back_buttons %}{% endblock %}
      </div>
    </div>
  {% endif %}

  <div class="container my-auto">
    {% block fullpage_content_wrapper %}
      <div class="row">
        <div class="col-sm-10 col-lg-8 mx-auto text-center">
          {% block fullpage_content %}{% endblock %}
        </div>
      </div>
    {% endblock %}
  </div>
</div>
