<a href="#" class="card">
  <div class="card-body">
    <h2 class="mb-3 font-weight-normal text-center">Ateliers créatifs</h2>
    <div class="text-center">
      <p class="text-secondary">Prochain événement:<br> <span class="text-dark">Lundi 25 juillet 2017<br> 13:00 — 13:30</span></p>
    </div>
  </div>
  <div class="card-pill card-pill-white">
    <span class="card-pill-icon">
      {% include "@atoms/icon/icon.twig" with {icon: 'look', circle: true} %}
    </span>
    <span class="card-pill-title mx-auto">
      <span class="text-dark">Voir les détails</span>
    </span>
  </div>
</a>
