<ul class="card-list" id="accordion" role="tablist" data-children=".card-list-item">
  {% for i in 0..5 %}
  <li class="card card-list-item">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{i}}" class="card-pill collapsed" role="tab" aria-expanded="false" aria-controls="collapse-{{i}}">
      <span class="card-pill-icon">
        {% include "@atoms/icon/icon.twig" with {icon: 'activities', circle: true} %}
      </span>
      <span class="card-pill-title">
        <span>22 juillet 2017</span>
        <span class="d-none d-sm-inline">13:00 – 13:30</span>
      </span>
      {% include "@atoms/flag/flag.twig" with {icon: 'confirmed'} %}
      <span class="btn btn-outline-secondary btn-icon btn-icon-to-circle shadow-to-left btn-white ml-auto" aria-label="Voir les détails">
        {% include "@atoms/icon/icon.twig" with {icon: 'look'} %}
        <span class="d-none d-md-inline">Voir les détails</span>
      </span>
    </a>
    <div class="collapse" id="collapse-{{i}}" role="tabpanel">
      <div class="card-body pb-0">
        <p>
          content here
        </p>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
