<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-white btn-outline-secondary active">Left</button>
  <button type="button" class="btn btn-white btn-outline-secondary">Middle</button>
  <button type="button" class="btn btn-white btn-outline-secondary">Middle</button>
  <button type="button" class="btn btn-white btn-outline-secondary">Right</button>
</div>
