<div class="btn-group btn-group-secondary" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-white btn-outline-secondary">Left</button>
  <button type="button" class="btn btn-white btn-outline-secondary active">Middle</button>
  <button type="button" class="btn btn-white btn-outline-secondary active">Middle</button>
  <button type="button" class="btn btn-white btn-outline-secondary">Right</button>
</div>
