<!-- If btn is active : has ".btn-primary" class. Else, had ".btn-outline-primary"
If it's NOT active, text span should have ".sr-only" class
-->
<div class="btn-group-toggle-display">
  <div class="btn-group btn-group-toggle" role="group" aria-label="Basic example">
    <button class="btn btn-outline-primary btn-icon">
      {% include "@atoms/icon/icon.twig" with {icon: 'counter-clockwise'} %}
      <span class="sr-only">Evénements passés</span>
    </button>
    <button class="btn btn-primary btn-icon btn-icon-right">
      {% include "@atoms/icon/icon.twig" with {icon: 'clockwise'} %}
      <span>Evénements à venir</span>
    </button>
  </div>
</div>
