<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-white btn-outline-invert active">Left</button>
  <button type="button" class="btn btn-white btn-outline-invert">Middle</button>
  <button type="button" class="btn btn-white btn-outline-invert">Middle</button>
  <button type="button" class="btn btn-white btn-outline-invert">Right</button>
</div>
