@charset 'utf-8';

// Colors

$black: #212121;
$purple: #934bcb;
$purple-dark: #781ebe;
$purple-darker: #430772;
$green: #00a082;
$green-dark: #085445;
$blue: #5aa0fa;
$gray-lightest: #f2f2f2;

$brand-secondary: $green;

$btn-primary-active: $purple-darker;
$btn-secondary-active: $green-dark;

// Sizes
$icon-size-base: 1.6rem;
